*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section2{
    margin-top: 5%;
    display: flex;
    gap:50px;

}
#divContainer{
    display: flex;
    flex-wrap: wrap;
    width:600px;
    height: 600px;
    background-color: red;
}
#leftButtons{
    display: flex;
    border: 2px solid black;
    align-items: flex-end;
}
#rightButtons{

}
#divContainer div{
    height: 100px;
    width: 100px;
    background-color: blue;
}