@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=VT323&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c8fff;
    font-weight: 800;
}
.section1{

}
#heading{
    font-size: 50px;
    margin-top: 10%;
    padding: 0px;
    color: #ffcc00;

}
.section2{
    margin-top: 5%;
    display: flex;
    gap: 50px;

}
#divContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:600px;
    height: 600px;
    background-color: white;
    gap: 0;
    
}
#leftButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px
}
#rightButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px
}
#divContainer div{

    height: 100px;
    width: 100px;
    background-color: blue;
    transition: 0.01s;
}
#divContainer div:hover{
    background-color: blueviolet;
}

#slider{
    padding: 8px 16px;
}
#erase{
    padding: 10px 18px;
    border-radius: 100%;
    font-size: 20px;
}
#colorpalette,#eraser,#shader,#disco{
    padding: 10px 18px;
    border-radius: 10%;
    font-size: 20px;

    
}
#disco{
    border-radius: 100%;
    font-size: 30px;
    
}
